@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Noto+Serif+JP:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('./assets/restaurant-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/BebasNeue-Regular.ttf') format('ttf');
}

header {
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.274);
}

nav {
    display: flex;
    font-family: 'Jersey 20';
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    padding: 1.5rem;
    color: rgb(249, 255, 226)
}

#home-page:hover,
#menu:hover,
#about:hover {
    color: rgb(176, 179, 114);
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    background-color: #000000a2;
    height: auto;
    padding-bottom: 5rem;
    width: 80rem;
    border-radius: 20px;
}

h1 {
    margin: 2rem auto;
    font-family: 'Jersey 20';
    font-size: 3rem;
    color: white;
}

.welcome-content {
    font-family: 'Jersey 20';
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 1rem 3rem;
}

.menu-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    min-height: 40rem;
    width: 70rem;
}

.menu-item {
    border-radius: 10px;
    min-height: 25rem;
    background-color: #ffffff66;
    margin: 2rem;
}

.image {
    display: flex;
    border-radius: 10px;
    margin: 4rem auto;
    width: 20rem;
    height: 20rem;
    opacity: 0.8;
}